seed     = 42
is_debug = false
verbose  = true
run_name = "optuna-vitb16-finetune-imagenet"
stage    = "train"

[trainer_config]
is_debug          = false
fast_dev_run      = false
accelerator       = "auto"
strategy          = "auto"
max_epochs        = 8
log_every_n_steps = 50
use_wandb         = true
gradient_clip_val = 1.0

    [trainer_config.callbacks]
    use_model_checkpoint   = false
    use_early_stopping     = false
    use_lr_monitor         = true
    use_rich_progress_bar  = false
    use_tqdm_progress_bar  = true
    tqdm_refresh_rate      = 10
    use_rich_model_summary = false

    use_backbone_finetuning = true
    backbone_train_bn       = true
    use_optuna_pruning      = true

    [trainer_config.wandb_config]
    project = "doc-class-detector"
    entity  = "traenslenzor"
    tags    = ["vit-b16", "optuna", "imagenet"]

[module_config]
backbone        = "vit_b_16"
train_head_only = true
use_pretrained  = true

    [module_config.optimizer]
    learning_rate     = 3e-5
    weight_decay      = 1e-4
    backbone_lr_scale = 0.01

    [module_config.scheduler]
    max_lr           = 5e-5
    base_momentum    = 0.85
    max_momentum     = 0.95
    div_factor       = 25.0
    final_div_factor = 5000.0
    pct_start        = 0.3
    anneal_strategy  = "cos"

[datamodule_config]
batch_size         = 56
persistent_workers = true
is_debug           = false
verbose            = true
limit_num_samples  = 0.3

    [datamodule_config.train_ds]
    split = "train"

        [datamodule_config.train_ds.transform_config]
        transform_type     = "finetune_plus"
        img_size           = 224
        convert_to_rgb     = true
        normalization_mode = "imagenet"

    [datamodule_config.val_ds]
        [datamodule_config.val_ds.transform_config]
        transform_type     = "val"
        img_size           = 224
        convert_to_rgb     = true
        normalization_mode = "imagenet"

    [datamodule_config.test_ds]
        [datamodule_config.test_ds.transform_config]
        transform_type     = "val"
        img_size           = 224
        convert_to_rgb     = true
        normalization_mode = "imagenet"

[optuna_config]
study_name     = "vitb16-finetune-imagenet"
direction      = "minimize"
n_trials       = 30
monitor        = "val/loss"
load_if_exists = true
sampler        = "tpe"
pruner         = "median"

    [optuna_config.search_space.trainer_config.callbacks]
    backbone_unfreeze_at_epoch = { low = 0, high = 3, step = 1 }

    [optuna_config.search_space.module_config.optimizer]
    learning_rate     = { low = 1e-5, high = 5e-4, log = true }
    weight_decay      = { low = 1e-6, high = 1e-2, log = true }
    backbone_lr_scale = { low = 0.005, high = 0.2, log = true }

    [optuna_config.search_space.module_config.scheduler]
    max_lr    = { low = 1e-5, high = 5e-4, log = true }
    pct_start = { low = 0.1, high = 0.4 }
